@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #0e549f;
  --color-secondary: #157ceb;
  --color-blue: #5ba1eb;
  --color-black: #161616;
  --color-white: #ffffff;
  --color-gray: #7d8e9f;

  --transition: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
}

h1 {
  font-size: 50px;
  list-style: 64px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.5px;
}

h3 {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5px;
}

h6 {
  font-weight: 600;
  font-style: 12px;
}

.text-0 {
  color: #1054a1;
}

.text-1 {
  color: #eceff2;
}

.text-2 {
  color: #c0c9d1;
}

.text-3 {
  color: #7d8e9f;
}

.text-4 {
  color: #161616;
}

p {
  font-size: 16px;
  margin: 25px 0 15px 0;
}

a {
  cursor: pointer;
}
body {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 5843px;
  background: var(--color-white);
}

.section-lg {
  /* position: absolute;
  left: 0px;
  top: 0px; */
  width: inherit;
  background: inherit;
}

.section-md {
  /* position: absolute;
  left: 0px;
  top: 0px; */
  width: inherit;
}

.title-section {
  position: relative;
  margin-left: 39.5%;
  width: 700px;
}

.title-section h4 {
  color: var(--color-gray);
}

.title-section h4::before {
  content: "";
  width: 36px;
  height: 3px !important;
  border-radius: 5px;
  background-color: var(--color-gray);
  position: absolute;
  top: 46px;
  left: -60px;
}

.card-body {
  padding: 0;
}

/* ===================== Header ========================== */

#wrapper-navbar {
  background-color: var(--color-white);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

#main-nav img {
  width: 199px;
  height: 62px;
}

#main-menu li {
  position: relative;
}

#main-menu li a {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  transition: var(--transition);
  color: var(--color-black);
}

#main-menu li:hover,
#main-menu li.active {
  color: var(--color-primary) !important;
}

#main-menu li.active::after {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 50px;
  right: 15px;
  background: var(--color-primary);
  border-radius: 10px;
}

/* ===================== banner ========================== */
#banner {
  background-image: url(../images/home_banner_slide_01.png);
  background-repeat: no-repeat;
  background-size: 100% 512px;
}

#banner h1 {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -0.5px;
}

#banner .banner-title {
  margin: 230px 0 62px;
}

#banner button {
  margin-top: 27px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--color-white);
  padding: 15px 39px;
  background-color: var(--color-primary);
  border-radius: 10px;
  text-transform: uppercase;
}

/* ===================== banner ========================== */
#about .title-section {
  padding-top: 62px;
}

#about .title-section h4::before {
  top: 80px;
}

#about .about-card {
  margin-top: 132px;
  margin-bottom: 72px;
}

.about-watermark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 53%;
  height: 302px;
  left: calc(50% - 53% / 2);
  top: calc(50% - 302px / 2 - 2189.5px);
  font-style: normal;
  font-weight: 600;
  font-size: 220px;
  letter-spacing: -3.5px;
  text-align: center;
}

.about-card .card {
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 15px 27px;
  height: 180px;
  border: none;
}

.about-card .card .card-title {
  letter-spacing: 0;
}

.about-card .card .card-text {
  margin: 22px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
}

/* ===================== what ait do ========================== */
#wad .title-section {
  padding-top: 27px;
}

#wad .wad-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
}

#wad .wad-content h2 {
  margin: 10px;
}

#wad .wad-watermark,
#wad .wad-card {
  padding: 0px !important;
}

#wad .wad-watermark {
  position: absolute;
  height: 109px;
  left: 16%;
  top: 1352px;
}

#wad .wad-card {
  margin-top: 82.5px;
}

#wad .wad-watermark .card,
#wad .wad-card .card {
  font-style: normal;
  font-weight: 600;
  font-size: 110px;
  text-align: right;
  letter-spacing: -3.5px;
  border: none;
}

#wad .wad-card .card {
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  background-color: #edf0f2;
}

#wad .wad-card .card-body {
  height: 193px;
}

#wad .wad-card .card .card-title {
  letter-spacing: 0;
  margin: 15px 18px 0;
}

#wad .wad-card .card-text,
#wad .wad-card .card-text a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin: 20px 18px 0;
}

#wad .wad-card .card-text a {
  text-decoration: none;
  color: #c0c9d1;
  margin: 0 0 15px 100px;
}

.idea-item {
  background-color: var(--color-primary);
}

.wad-choose {
  text-align: center;
}

.wad-choose .wad-choose__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #edf0f2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  position: relative;
}

.wad-choose__icon img {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 78px;
}

.wad-choose__icon #icon-human {
  width: 70px;
  top: 10px;
  left: 10px;
}

.wad-choose__icon #icon-security {
  width: 45px;
  top: 22px;
  left: 22px;
}

.wad-choose__icon #icon-tech {
  width: 52px;
  top: 24px;
  left: 19.5px;
}

.wad-choose__icon #icon-cost {
  width: 55px;
  top: 18px;
  left: 17.5px;
}

.wad-choose .wad-choose__text {
  margin: 22px 9.5px 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
}

/* ====================================================== */

#main-company {
  background-color: #f5f5f5;
}

#main-company .title-section {
  padding-top: 29px;
}

#main-company .main-company__text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}

#main-company .row {
  margin: 55px 0 43px;
}

#main-company .main-company__link {
  margin-top: 25px;
  text-align: right;
}

.main-company__link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #c0c9d1;
}
#main-company .main-company__link a:hover {
  color: #7d8e9f;
}

#main-company .main-company__image {
  text-align: right;
}

/* ================================================= */
#main-people {
  background-color: var(--color-primary);
}

#main-people .main-people__text {
  margin: 49px 0 13px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}

#main-people .main-people__subtext {
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.5px;
}

/* ============================================== */
#main-info {
  background-image: url(../images/pic-bg-company.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 512px;
}

#main-info .main-info__content {
  margin: 111px 0 148px;
}

#main-info .main-info__title {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.5px;
}

#main-info .main-info__data {
  margin-top: 38.5px;
}

#main-info .main-info__number {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.5px;
  color: #ff5454;
}

#main-info .main-info__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 24px;
}

/* =========================================== */
#careers {
  background-color: var(--color-primary);
}

#careers .title-section {
  padding-top: 47px;
}

#careers .title-section h4::before {
  top: 63px;
}

#careers .careers-card {
  margin-top: 127px;
}

#careers .careers-card__item {
  padding: 60px 50px;
  border-radius: 10px;
}

#careers .card-body {
  text-align: center;
}

#careers .careers-card__image {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 53px;
}

#careers .careers-card__title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.5px;
}

#careers .careers-card__text {
  margin: 27px 0 53px;
  font-weight: 400;
  font-size: 18px;
  height: 66px;
}

#careers .careers-card__btn {
  padding: 15px 32px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #ffffff;
  background-color: var(--color-primary);
  border-radius: 100px;
}

#careers .careers-span {
  padding: 34px 0 30px;
  letter-spacing: 0.15px;
  font-weight: 400;
}

/* ======================================= */

#blog .title-section {
  padding-top: 29px;
}

#blog .blog-card {
  margin: 110px 0 0;
  padding-bottom: 31px;
}

#blog .blog-card__item {
  border: none;
}

#blog .blog-card__title {
  margin: 18px 0;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #000000;
}

#blog .text-muted {
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* ============================================= */
#feedback {
  background-color: #ecf5fc;
}

#feedback .title-section {
  padding-top: 30px;
}

#feedback .feedback-client {
  margin-top: 61px;
}

#feedback .feedback__image {
  width: 100px;
  height: 100px;
  margin-right: 9px;
}

#feedback p {
  margin: 0;
}

#feedback .feedback__content {
  padding: 19px 28px 31px 0;
  font-weight: 400;
  font-size: 14px;
}

#feedback .feedback__text {
  font-size: 16px;
  letter-spacing: 0.15px;
}

#feedback .feedback__author {
  font-family: "Kaisei Opti";
  line-height: 20px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin: 9px 0 8px;
}

#feedback .feedback__info {
  font-family: "Kaisei Opti";
  line-height: 20px;
  letter-spacing: 0.03em;
}
